
<html>
<head>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<form
  action="https://formspree.io/mwkrnnnv"
  method="POST"
>
<label>
  Your name:
  <input type="text" name="name">
</label>
  <label>
    Your email:
    <input type="text" name="_replyto">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <div class="g-recaptcha-response" data-sitekey="6Lf7CicaAAAAAD8XKDfc7MFxoO67QsYSW88gMT0g"></div>
  <button type="submit">Send</button>
</form>
</html>
